@media (min-width: 1025px) {
   // Hover section
   .btn {
      transition: .3s ease;
      &:hover {
         background-color: #ffd033;
         color: #fff;
      }
      &--yellow:hover {
         background-color: #ffd033;
         color: #000;
      }
   }

   .header__navigation > ul > li > a:hover {
      color: #fec70d;
   }
   .footer__list li:hover {
      color: #fec70d;
   }
   .footer__bottom-list li:hover {
      color: #fec70d;
   }

   .header__navigation li {
      &:hover {
         & > ul {
            display: block;
         }
      }

      li li:hover {
         background-color: #f0f0f0;
         color: #2968af;
      }

      ul > li {
         &:hover {
            opacity: 1;
         }
      }

   }
   // Hover section
}

@media (max-width: 1200px) {
   .answers__content {
      margin-top: 0;
   }
}


@media (max-width: 1024px) {
   .mission {
      padding-top: 60px;
      background: none;
      &__content {
         max-width: 425px;
      }
      &__img {
         margin-top: 60px;
      }
   }
   .benefits {
      &__list {
         margin-left: -30px;
         margin-right: -30px;
         justify-content: flex-start;
      }
      &__item {
         max-width: 100%;
         width: calc(50% - 60px);
         margin-left: 30px;
         margin-right: 30px;
         margin-bottom: 30px;
      }
   }
   .seo-hero {
      background-position: top -173px left -379px;
      padding-top: 140px;
      padding-bottom: 90px;
      &__bg {
         left: 10px;
         bottom: -165px;
      }
      &__bg-title {
         font-size: 185px;
         &--2 {
            font-size: 155px;
            margin-top: 50px;
         }
      }
      &__img {
         display: none;
      }
   }
   .trade {
      &__bg {
         display: none;
      }
      &__content {
         padding: 20px 10px;
      }
      
   }
   .trade-info {
      padding: 45px 0;
   }
   .trade-foot {
      padding-top: 40px;
      padding-bottom: 0;
      &__item {
         max-width: calc(50% - 20px);
         &:nth-child(2) ~ .trade-foot__item {
            display: none;
         }
      }
   }
   .trade-hero {
      padding-top: 140px;
      &__inner {
         padding-bottom: 65px;
      }
   }
   .coupon__right {
      margin-left: 0;
   }
   .aside {
      width: 35%;
      &__list {
         margin-bottom: 0;
      }
      &__currency {
         padding-right: 0;
      }
      &__currency-price b {
         margin-bottom: 0;
      }
   }
   .footer {
      &__bottom-list {
         display: none;
      }
   }
   .swiper-button-next {
      right: 30px;
      bottom: 50px;
      height: 20px;
   }
   .swiper-button-prev {
      right: 85px;
      bottom: 50px;
      height: 20px;
   }
   .clients .swiper-container-horizontal>.swiper-pagination-bullets, .clients .swiper-pagination-custom, .clients .swiper-pagination-fraction {
      right: 30px;
   }
   .clients {

      &__slider {
         padding-left: 10px;
         padding-right: 10px;
         max-width: calc(100% + 30px);
         margin-left: -10px;
         margin-right: -10px;
      }
      &__stats-item {
         margin-left: 25px;

         span {
            font-size: 13px;
            line-height: 1.2;
         }

         b {
            font-size: 25px;
         }
      }
      &__item-inner {
         padding-left: 15px;
      }
   }
   .about {
      &__item {
         width: 105px;
         height: 110px;

         &--1,
         &--3 {
            margin-top: 50px;
         }
         &--5 {
            margin-top: -30px;
         }
      }
      &__name {
         font-size: 12px;
      }
      &__cards {
         margin-bottom: 40px;
      }
      &__img {
         text-align: center;
         margin-bottom: 10px;
         img {
            width: 65%;
         }
      }
      &__inner {
         align-items: center;
      }
   }
   .credits {
      background: none;

      &__cryptos {
         li:nth-child(6) ~ li {
            display: none;
         }
      }
      &__item {
         padding-left: 10px;
      }
      &__col {
         &:nth-child(5),
         &:nth-child(6) {
            display: none;
         }
      }
   }
   .header {
      top: 15px;

      &__navigation {
         font-size: 15px;
         line-height: 1.2;
      }
      &__logo img {
         width: 140px;
      }
   }

   .hero {
      padding-bottom: 75px;

      &__content {
         margin-bottom: 80px;
      }
      &__footer {
         li {
            font-size: 13px;
            line-height: 1.2;
            max-width: 180px;
         }
         li + li {
            margin-left: 35px;
         }
         ul {
            justify-content: center;
         }
      }
      .hero__price {
         font-size: 59px;
         margin-left: 20px;
      }
   }

   .footer {
      &__logo img {
         width: 140px;
      }
   }
}

@media (max-width: 900px) {
   .answers {
      background: none;
      &__img {
         display: none;
      }
      &__content {
         max-width: 100%;
         margin-left: 0;
      }
   }
}

@media (max-width: 750px) {
   .subtitle {
      font-size: 12px;
   }

   .title {
      font-size: 19px;
   }

   .mission {
      padding-top: 50px;
      padding-bottom: 35px;
      &__title {
         text-align: center;
         margin-bottom: 10px;
         font-size: 20px;
      }
      &__content {
         max-width: 100%;
      }
      &__img {
         margin: 0;
         margin-bottom: 20px;
      }
      &__text {
         font-size: 13px;
      }
      &__btn {
         font-size: 13px;
      }
   }
   .benefits {
      
      &__list {
         margin-left: -12px;
         margin-right: -12px;
      }
      &__item {
         margin-bottom: 30px;
         margin-left: 12px;
         margin-right: 12px;
         width: calc(50% - 24px);
      }
   }
   .mission {
      padding-top: 40px;
   }
   .seo-hero {
      padding-bottom: 70px;
      &__subtitle {
         font-size: 15px;
      }
      &__bg {
         display: block;
         right: 10px;   
         bottom: -175px;
      }
      &__bg-title {
         display: block;
         font-size: 94px;
         line-height: 1;
         &--2 {
            font-size: 78px;
            margin-top: 0;
            margin-left: auto;
            text-align: right;
         }
      }
      &__title {
         font-size: 16px;
         line-height: 35px;
         span {
            display: block;
            font-size: 26px;
            line-height: 35px;
         }
      }
   }
   .trade-hero {
      padding-top: 130px;
      &__title {
         font-size: 24px;
      }
      &__inner {
         padding-bottom: 45px;
      }
      &__text {
         font-size: 13px;
         line-height: 1.2;
      }
   }
   .review-hero {
      &__rating {
         margin-bottom: 30px;
      }
      &__inner {
         padding-bottom: 65px;
      }
      &__title {
         font-size: 38px;
      }
      &__logo {
         flex-wrap: wrap;
         img {
            width: 280px;
         }
      }
   }
   .footer {
      &__top {
         padding: 15px 0;
      }
      &__logo {
         margin: 0 auto;
      }
      &__list {
         display: none;
      }
      &__copy {
         margin-bottom: 20px;
      }
      &__bottom {
         flex-direction: column;
         align-items: center;
         text-align: center;
         padding-top: 15px;
         padding-bottom: 25px;
      }
   }
   .clients {
      padding: 40px 0;
      &__head {
         flex-direction: column;
         align-items: flex-start;
         margin-bottom: 0;
      }
      &__stats {
         justify-content: space-between;
         width: 100%;
      }
      &__titles {
         margin-bottom: 20px;
      }
      &__rating {
         justify-content: center;
      }
      &__text {
         margin-left: 0;
         padding-right: 0;
         padding-bottom: 20px;

         &::after {
            display: none;
         }
      }
      &__img {
         img {
            width: 95px;
         }
      }
      &__name {
         font-size: 14px;
      }
      &__item {
         background-color: transparent;
      }
      &__item-inner {
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         padding: 20px 10px;
         padding-bottom: 5px;
      }
      &__slider {
         min-height: auto;
         padding-bottom: 40px;
      }
      &__info {
         text-align: center;
      }
      &__swiper-elems {
         display: flex;
         justify-content: space-between;
         align-items: flex-end;
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translateX(-50%);
      }
   }
   .swiper-button-next,
   .swiper-button-prev {
      position: static;
      flex-shrink: 0;
   }
   .clients .swiper-container-horizontal>.swiper-pagination-bullets, .clients .swiper-pagination-custom, .clients .swiper-pagination-fraction {
      position: relative;
      flex-shrink: 0;
      left: auto;
      top: 2px;
      bottom: auto;
      right: auto;
      transform: none;
      margin-left: 30px;
      margin-right: 30px;
      padding-right: 100px;
      opacity: 1;
      color: #9b9b9b;

      &::after {
         position: absolute;
         content: "";
         width: 75px;
         height: 1px;
         background-color: #5c40d5;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
   }
   .answers {
      padding: 45px 0;

      &__item {
         font-size: 14px;
         margin-bottom: 20px;
      }

      &__title {
         margin-bottom: 25px;
      }

      &__item-content {
         line-height: 18px;
         padding-bottom: 0;
      }
   }
   .about {
      padding-top: 35px;
      padding-bottom: 40px;

      &__btn-wrapper {
         margin-top: -40px;
      }

      &__cards-wrapper {
         justify-content: center;
      }
      &__item {
         &--1,
         &--4 {
            margin-left: 0;
         }
      }
      &__content {
         max-width: 100%;
      }
      &__title {
         margin-bottom: 30px;
      }
      &__text {
         margin-bottom: 0;
      }
      &__cards {
         margin-bottom: 20px;
         margin-left: auto;
         margin-right: auto;
      }
      &__content {
         margin-left: 0;
      }
   }
   .header {
      &__menu-btn {
         display: block;
         position: relative;
         z-index: 22;

         &.active {
            span {
               margin-bottom: -2px;
               &:nth-child(2) {
                  opacity: 0;
               }
               &:nth-child(1) {
                  transform: rotate(45deg);
               }
               &:nth-child(3) {
                  transform: rotate(-45deg);
               }
            }
         }
      }
      &__navigation {
         position: absolute;
         left: 0;
         top: -15px;
         overflow: auto;
         z-index: 15;
         width: 100%;
         height: calc(100vh + 15px);
         background-color: #6950d9;
         background-image: linear-gradient(0deg,#6950d9 0,#684fd9 100%);
         padding-top: 80px;
         transform: translateX(-200%);
         transition: .3s ease-in-out;

         li {
            width: 100%;
            font-size: 20px;
            line-height: 24px;
         }

         li a {
            padding: 15px;
         }

         li + li {
            margin-left: 0;
         }
         
         & > ul {
            flex-direction: column;
         }
      }
      .header__navigation {
         li {
            border: none;
         }
         li ul {
            position: static;
            width: 100%;
            background-color: transparent;
            border-radius: 0;
            color: #fff;
         }
      }
   }

  
   
   .credits {
      padding-bottom: 50px;
      padding-top: 40px;
      &__logo {
         width: 100%;
         text-align: center;
         margin-bottom: 15px;
      }
      &__title {
         margin-bottom: 25px;
         font-size: 18px;
      }
      &__calculator-title {
         margin-bottom: 20px;
      }
      &__item {
         margin-bottom: 10px;
         padding-top: 15px;
         flex-wrap: wrap;
      }
   }


   
   .hero {
      padding-top: 140px;
      padding-bottom: 55px;

      &__text {
         font-size: 13px;
      }

      &__footer {
         ul {
            flex-direction: column;
            align-items: center;
         }

         li {
            margin-bottom: 20px;
            margin-left: 0;
            max-width: 175px;

            &:nth-child(2) {
               margin-bottom: 0;
               margin-left: 0;
               align-self: flex-start;
            }
         }
      }

      .hero__price {
         order: -1;
         margin-left: 0;
      }

      &__content {
         margin-bottom: 20px;
      }
   }

   .menu .menu__list .menu__list a::after, .menu .menu__list .menu__list a::before {
      background-color: #fff;
   }

   .menu .menu__list>a {
      display: inline-block;
   }
   .credits {
      &__col--main {
         margin-left: 0;
      }
   }
}

@media (max-width: 700px) {
   .benefits {
      padding-top: 40px;
      &__head {
         max-width: 100%;
         margin-bottom: 20px;
      }
      &__title {
         margin-bottom: 10px;
      }
      &__subtitle {
         font-size: 13px;
      }
      &__name {
         font-size: 13px;
         line-height: 1.2;
      }
      &__text {
         font-size: 12px;
         line-height: 1.3;
      }
      &__item {
         flex-direction: column;
         align-items: center;
      }
      &__img {
         margin: 0 auto;
         margin-bottom: 12px;
      }
   }
   .trade-info {
      padding-bottom: 35px;
      &__title {
         font-size: 20px;
         line-height: 25px;
      }
      &__text {
         max-height: 189px;
      }
   }
   .trade-foot {
      margin-bottom: -15px;
      &__list {
         margin-left: 0;
         margin-right: 0;
      }
      &__left {
         display: flex;
         align-items: center;
         flex-direction: column;
         & > img {
            padding-left: 10px;
         }
      }
      &__item {
         max-width: 100%;
         margin: 0;
         &:nth-child(1) ~ .trade-foot__item {
            display: none;
         }
      }
   }
   .trade {
      padding-top: 45px;
      &__list {
         flex-direction: column;
      }
      &__content {
         padding-bottom: 25px;
      }
      &__item-list {
         margin-bottom: 20px;

         li {
            font-size: 13px;
            padding-top: 0;
            padding-left: 35px;
            &::before {
               background-size: cover;
               width: 25px;
               height: 25px;
            }
         }
      }
      &__inner {
         padding-bottom: 30px;
      }
   }
   .aside {
      display: none;
   }
   .coupon {
      padding: 12px;
      padding-bottom: 30px;
      margin-top: 20px;

      &::before,
      &::after {
         display: none;
      }
   }
   .review {
      padding-bottom: 20px;
      padding-top: 20px;

      &__banner {
         margin: 20px 0;
         padding: 35px 17px;
      }
      &__banner-title {
         font-size: 20px;
         line-height: 30px;
      }
      &__banner-subtitle {
         font-size: 14px;
         line-height: 1.2;
      }

      &__title {
         font-size: 18px;
         line-height: 1;
         margin-bottom: 10px;
         margin-top: 20px;
      }

      &__text {
         font-size: 13px;
         line-height: 20px;
      }
   }
}

@media (max-width: 550px) {
   
   .review-hero {
      &__logo {
         flex-direction: column;
      }
      &__title {
         margin-left: 70px;
      }
   }
   .about {
      &__item {
         width: 76px;
         height: 76px;
      }
      &__name {
         font-size: 9px;
      }
      &__img {
         margin-bottom: 8px;
         img {
            width: 50%;
         }
      }
      &__cards {
         margin-bottom: 0;
      }

   }
   .credits {
      &__col {
         &:nth-child(2),
         &:nth-child(3) {
            width: 33.333%;
            margin-bottom: 15px;
         }
         &:nth-child(4) {
            max-width: 33.333%;
            margin-bottom: 15px;
         }

      }
      &__list {
         margin-bottom: 40px;
      }

      &__item {
         padding-left: 25px;
         padding-right: 25px;
      }
      &__calculator-title {
         margin-bottom: 15px;
      }
   }
   .credits {
      .credits__col--main {
         width: 100%;
      }
   }
   .staking-page {
      .credits__col:nth-child(4) {
         max-width: 100%;
      }
   }
}

@media (max-width: 440px) {
   .trade {
      &__buttons {
         flex-direction: column;
      }
      &__btn {
         width: 100%;
         margin-bottom: 10px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   .clients__swiper-elems {
      width: 100%;
      justify-content: space-around;
   }
   .swiper-button-next {
      margin-right: 15px;
   }
   .swiper-button-prev {
      margin-left: 15px;
   }
}